.title {
  font-size: 24px;
  color: white;
}

.titleContainer {
  align-items: center;
  transition: transform 0.3s ease;
  color: #5b5b5b;
  padding: 10px;
}

.container:hover .titleContainer {
  transform: translateX(15px); /* Move container to the right on hover */
  color: white; /* Change text color on hover */
}

/* .answer {
  display: none; 
  margin-top: 10px; 
}

.answer.showDesc {
  display: block; 
} */
